* {
    padding: 0 0 10px;
}
header {
    text-align: center;
}
header h1 {
    color:#e74c3c ;
} 
header a {
    padding-left: auto;
} 
article h1{
    text-align: center; 
    color: #8e44ad; 
}
article h3 {
    color: #f1c40f;
}